@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

//### Primary
$Soft-orange: hsl(35, 77%, 62%);
$Soft-red: hsl(5, 85%, 63%);
//### Neutral
$Off-white: hsl(36, 100%, 99%);
$Grayish-blue: hsl(233, 8%, 79%);
$Dark-grayish-blue: hsl(236, 13%, 42%);
$Very-dark-blue: hsl(240, 100%, 5%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: $Off-white;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

hr {
  border: none;
  border-top: 1px solid $Grayish-blue;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.container {
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: 768px;
}

.header {
  position: fixed;
  background-color: $Off-white;
  width: 100%;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;

  &__menu {
    @media screen and (max-width: 767px) {
      position: fixed;
      background-color: $Off-white;
      top: 0;
      right: -100%;
      bottom: 0;
      width: 70%;
      box-shadow: -2px 0 10px rgba(0,0,0,.3);
      padding: 7rem 0 0 1.5rem;
      transition: .3s;
    }
  }

  &__logo {
    display: inherit;
    cursor: pointer;

    &-img {
      width: 3rem;
    }
  }

  &__toggle {
    cursor: pointer;
  }

  &__close {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }

  &__link {
    color: $Very-dark-blue;
    font-size: 1.2rem;
    transition: .3s;
    position: relative;

    &::after {
      content: '';
      background-color: $Soft-red;
      position: absolute;
      height: 2px;
      top: 1.7rem;
      width: 100%;
      left: 0;
      transform: scaleX(0);
      transition: .3s;
    }

    &:hover {
      color: $Soft-red;

      &::after {
        transform: scaleX(1);
      }
    }
  }
}

.show-menu {
  right: 0;
}

.main {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: grid;
  row-gap: 4rem;

  &__top {
    display: grid;
    row-gap: 5rem;
  }

  &__bottom {
    display: grid;
    row-gap: 2.5rem;
  }
}

.article {
  &__left {
    display: grid;
    row-gap: 1rem;

    &-content {
      &_title {
        font-size: 2.55rem;
        color: $Very-dark-blue;
        text-align: left;
        margin-bottom: 1rem;
      }

      &_info {
        text-align: left;
        line-height: 1.8;
        color: $Dark-grayish-blue;
        font-size: .938rem;
        margin-bottom: 2.5rem;
      }

      &_readmore {
        &_btn {
          background-color: $Soft-red;
          color: $Off-white;
          cursor: pointer;
          text-transform: uppercase;
          font-weight: 700;
          font-size: .9rem;
          letter-spacing: .3rem;
          padding: 1rem 1.8rem;
          transition: .3s;

          &:hover {
            background-color: $Very-dark-blue;
          }
        }
      }
    }
  }

  &__right {
    background-color: $Very-dark-blue;
    text-align: left;
    padding: 2rem 1.5rem;

    &-title {
      color: $Soft-orange;
      margin-bottom: 2rem;
      font-size: 2rem;
    }

    &-content {
      &_subtitle {
        color: $Off-white;
        transition: .3s;
        cursor: pointer;
        margin-bottom: 1rem;
        font-size: 1.26rem;

        &:hover {
          color: $Soft-orange;
        }
      }

      &_info {
        color: $Grayish-blue;
        font-size: .938rem;
        line-height: 1.8;
      }
    }
  }

  &__more {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 1.5rem;

    &-img {
      height: 100%;
      object-fit: cover;
    }

    &-content {
      &_number {
        color: $Grayish-blue;
        font-size: 2rem;
        text-align: left;
        margin-bottom: .5rem;
      }

      &_title {
        color: $Very-dark-blue;
        text-align: left;
        font-size: 1.13rem;
        margin-bottom: .7rem;
        transition: .3s;
        cursor: pointer;

        &:hover {
          color: $Soft-red;
        }
      }

      &_info {
        color: $Dark-grayish-blue;
        text-align: left;
        font-size: .938rem;
        line-height: 1.8;
      }
    }
  }
}

@media screen and (min-width: 568px) {
  .container {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .nav {
    height: 5rem;

    &__toggle,
    &__close {
      display: none;
    }

    &__list {
      flex-direction: row;
      column-gap: 1.5rem;
    }

    &__link {
      color: $Dark-grayish-blue;
    }
  }

  .main {
    &__bottom {
      grid-template-columns: 1fr 1fr;
      column-gap: 2.5rem;
    }
  }

  .article {
    &__left {
      row-gap: 1.5rem;

      &-img {
        height: 100%;
      }

      &-content {
        display: grid;
        grid-template-columns: 1fr 1fr;

        &_title {
          font-size: 3rem;
          margin-bottom: 0;
          margin-right: 2rem;
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .container {
    max-width: 1000px;
  }

  .nav {
    height: 6rem;

    &__logo {
      &-img {
        width: 4rem;
      }
    }

    &__list {
      column-gap: 3rem;
    }

    &__link {
      font-size: 1rem;
    }
  }

  .main {
    margin-top: 7rem;
    margin-bottom: 6rem;

    &__top {
      grid-template-columns: 2fr 1fr;
      column-gap: 2rem;
    }

    &__bottom {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1100px;
  }

  .article {
    &__left {
      &-content {
        &_info {
          margin-right: 1rem;
        }
      }
    }
  }
}

