@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

//### Primary
$Soft-orange: hsl(35, 77%, 62%);
$Soft-red: hsl(5, 85%, 63%);
//### Neutral
$Off-white: hsl(36, 100%, 99%);
$Grayish-blue: hsl(233, 8%, 79%);
$Dark-grayish-blue: hsl(236, 13%, 42%);
$Very-dark-blue: hsl(240, 100%, 5%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: $Off-white;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

hr {
  border: none;
  border-top: 1px solid $Grayish-blue;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.container {
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: 768px;
}

.header {
  position: fixed;
  background-color: $Off-white;
  width: 100%;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;

  &__menu {
    @media screen and (max-width: 768px) {
      position: fixed;
      background-color: $Off-white;
      top: 0;
      right: -100%;
      bottom: 0;
      width: 70%;
      box-shadow: -2px 0 10px rgba(0,0,0,.3);
      padding: 7rem 0 0 1.5rem;
      transition: .3s;
    }
  }

  &__logo {
    display: inherit;
    cursor: pointer;

    &-img {
      width: 3rem;
    }
  }

  &__toggle {
    cursor: pointer;
  }

  &__close {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }

  &__link {
    color: $Very-dark-blue;
    font-size: 1.2rem;
    transition: .3s;

    &:hover {
      color: $Soft-red;
    }
  }
}

.show-menu {
  right: 0;
}

.main {
  margin-top: 5rem;
  margin-bottom: 4rem;

  &__top {
    display: grid;
    row-gap: 5rem;
  }
}

.article {
  &__left {
    display: grid;
    row-gap: 1rem;

    &-content {
      &_title {
        font-size: 2.55rem;
        color: $Very-dark-blue;
        text-align: left;
        margin-bottom: 1rem;
      }

      &_info {
        text-align: left;
        line-height: 1.8;
        color: $Dark-grayish-blue;
        font-size: .938rem;
        margin-bottom: 2.5rem;
      }

      &_readmore {
        &_btn {
          background-color: $Soft-red;
          color: $Off-white;
          cursor: pointer;
          text-transform: uppercase;
          font-weight: 700;
          font-size: .9rem;
          letter-spacing: .3rem;
          padding: 1rem 1.8rem;
          transition: .3s;

          &:hover {
            background-color: $Very-dark-blue;
          }
        }
      }
    }
  }

  &__right {
    background-color: $Very-dark-blue;
    text-align: left;
    padding: 2rem 1.5rem;

    &-title {
      color: $Soft-orange;
      margin-bottom: 2rem;
      font-size: 2rem;
    }

    &-content {
      &_subtitle {
        color: $Off-white;
        transition: .3s;
        cursor: pointer;
        margin-bottom: 1rem;
        font-size: 1.26rem;

        &:hover {
          color: $Soft-orange;
        }
      }

      &_info {
        color: $Grayish-blue;
        font-size: .938rem;
        line-height: 1.8;
      }
    }
  }
}

